.arrow{
    border-top: 4px solid #fff !important;
}
.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus{
    background-color: transparent;
}
.react-tel-input .selected-flag .flag {
    transform: scale(2);
}
.react-tel-input .flag-dropdown.open .selected-flag {
    background-color: transparent;
}
.react-tel-input .country-list .country.highlight {
    background-color:  #D0142C;
}
.react-tel-input .country-list .country:hover{
    background: #D0142C;
}