@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&family=Unbounded:wght@200..900&display=swap');
@font-face {
  font-family: 'Ermilov';
  src: url('/fonts/Ermilov.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NAMU';
  src: url('/fonts/NAMU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.questions{
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 109px;
  width: 100%;
  .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .text{
      width: 765px;
      color: var(--gray, #929292);
      font-family: 'NAMU', sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 37.5px */
      letter-spacing: -0.5px;
    }
    .main{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 30px;
      .red{
        display: flex;
        color: var(--Red, #D0142C);
      }
      .white{
        display: flex;

        color: var(--White, #F7F7F7);
      }
      span{
        font-family: 'Unbounded', sans-serif;
        font-size: 55px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: -2.56px;
        text-transform: uppercase;
      }
    }
  }
  .question{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    .answersContacts{
      width: 100%;
      .wrapperForm{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 24px;
        .nameNumber{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 20px;
          .name{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            gap: 7px;
            label{
              color: var(--White, #F7F7F7);
              font-family: 'Montserrat', sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 30px */
            }
            input{
              padding: 20px;
              color: var(--White, #F7F7F7);
              font-family: 'NAMU', sans-serif;
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%; /* 36px */
              width: 100%;
              height: 104px;
              border-radius: 13px;
              background-color: transparent;
              border: 2px solid var(--White, #F7F7F7);
              &::placeholder {
                color: var(--gray, #929292);
              }
            }
          }
          .number{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 7px;
            color: var(--White, #F7F7F7);
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 30px */
            label{

            }
               input{
                 padding: 20px 50px;
                 color: var(--White, #F7F7F7);
                 font-family: 'NAMU', sans-serif;
                 font-size: 24px;
                 font-style: normal;
                 font-weight: 600;
                 line-height: 150%; /* 36px */
                 width: 100%;
                 height: 104px;
                 border-radius: 13px;
                 background-color: transparent;
                 border: 2px solid var(--White, #F7F7F7);
                 &::placeholder {
                   color: var(--gray, #929292);
                 }
                 &.error {
                   border: 2px solid red;
                 }
                 &:focus{
                   border-color: var(--main-green, #649612);
                 }
               }
            //input{
            //  padding: 20px;
            //  color: var(--White, #F7F7F7);
            //  font-family: 'NAMU', sans-serif;
            //  font-size: 24px;
            //  font-style: normal;
            //  font-weight: 600;
            //  line-height: 150%; /* 36px */
            //  width: 100%;
            //  height: 104px;
            //  border-radius: 13px;
            //  background-color: transparent;
            //  border: 2px solid var(--White, #F7F7F7);
            //  &::placeholder {
            //    color: var(--gray, #929292);
            //  }
            //}
            //.phoneContainer {
            //  display: flex;
            //  align-items: center;
            //}
            //
            //.phoneInput {
            //  padding: 20px 50px;
            //  color: var(--White, #F7F7F7);
            //  font-family: 'NAMU', sans-serif;
            //  font-size: 24px;
            //  font-style: normal;
            //  font-weight: 600;
            //  line-height: 150%; /* 36px */
            //  width: 100%;
            //  height: 104px;
            //  border-radius: 13px;
            //  background-color: transparent;
            //  border: 2px solid var(--White, #F7F7F7);
            //  &::placeholder {
            //    color: var(--gray, #929292);
            //  }
            //}
            //.phoneContainer .country-flag {
            //  background-size: 100px 100px; /* Укажите нужный вам размер */
            //}
            .phoneInput{
              padding-left: 100px;
            }
            .phoneContainer{
              .countryButton {
                border: none;
                background: none;
                padding-left: 35px;
                //padding-left: 33px;
                //transform: scaleX(3.5) scaleY(3);
              }
              &:hover{
                background: transparent;
              }
            }

            .countryDropdown {
              max-height: 200px;
              overflow-y: auto;
              background: transparent;
              &:hover{
                background: transparent;
              }
            }
            .selected-flag{
                &:hover{
                  background: transparent;
                }
            }
          }
        }
        .email{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 100%;
          gap: 7px;
          label{
            color: var(--White, #F7F7F7);
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 30px */
          }
          input{
            padding: 20px;
            color: var(--White, #F7F7F7);
            font-family: 'NAMU', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 36px */
            width: 100%;
            height: 104px;
            border-radius: 13px;
            background-color: transparent;
            border: 2px solid var(--White, #F7F7F7);
            &::placeholder {
              color: var(--gray, #929292);
            }
          }
        }
      }
    }
    .answersBudjet{
      .sliderWrapper{
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.5px;
        .slider {
          width: 820px;
          height: 3px;
          -webkit-appearance: none;
          background: #D9D9D9; /* Track background color */

          border-radius: 5px; /* Rounded track */

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            background-color: #FFF; /* Thumb color */
            border-radius: 50%;
            cursor: pointer;
          }

          &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            background-color: #ff4757; /* Thumb color */
            border-radius: 50%;
            cursor: pointer;
          }
        }

        .sliderValue {
          justify-content: space-between;
          display: flex;
          margin-top: 16px;
          color: var(--gray, #929292);
        }
      }
    }
    .answers{
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
      gap: 20px;

      /* Center the third item only when there are exactly 3 items */
      & > :nth-child(3):nth-last-child(1) {
        grid-column: 1 / -1; /* Span across both columns */
        justify-self: center; /* Center the item horizontally */
      }
      .answer{
        display: flex;
        width: 401px;
        padding: 10px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: transparent;
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 45px */
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid #FFF;
        &.active{
          border: 1px solid var(--Red, #D0142C);

        }
      }
    }
    .btns{
      display: flex;
      align-items: flex-start;
      gap: 30px;
      .btnBack{
        display: flex;
        height: 55px;
        padding: 20px 66px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        background: #929292;
        color: var(--White, #F7F7F7);
        font-family: 'NAMU', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: lowercase;
        border: none;
      }
      .btnAnswer{
        display: flex;
        height: 55px;
        padding: 20px 71px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        background: var(--Red, #D0142C);
        color: var(--White, #F7F7F7);
        border: none;
        font-family: 'NAMU', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: lowercase;
      }
    }

  }
  .wrapper{
    display: flex;
    width: 1102px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 18px;
    border: 3px solid #555;
    background: rgba(123, 123, 123, 0.09);
    box-shadow: 4px 4px 15px 0px rgba(46, 45, 45, 0.35);
    position: relative;
    .congratulation{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .mainTxt{
        width: 822px;
        color: #D0142C;
        text-align: center;
        font-family: 'Unbounded', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 42px */
        text-transform: uppercase;
      }
      .moreTxt{
        color: var(--gray, #929292);
        leading-trim: both;
        text-edge: cap;
        font-family: 'NAMU', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.5px;
      }
      .image{
        img{
          width: 269px;
          height: 259px;
        }
      }
    }
    svg{
      position: absolute;
      left: -40px;
      top: -55px;
    }
    .headTxt{
      width: 585px;
      color: #FFF;
      text-align: center;
      font-family: 'Unbounded', sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 42px */
      text-transform: uppercase;
    }
    .add{
      color: var(--gray, #929292);
      font-family: 'NAMU', sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 900;
      line-height: 150%; /* 37.5px */
      letter-spacing: -0.5px;
    }
    .btn{
      border: none;
      color: #FFF;
      text-align: center;
      font-family: 'NAMU', sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: lowercase;
      width: 661px;
      height: 100px;
      flex-shrink: 0;
      border-radius: 20px;
      background: var(--Red, #D0142C);
    }
  }
}
.error{
  color: var(--Red, #D0142C);
  font-family: 'NAMU', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (min-width: 1250px)  and (max-width: 1541px) {
  .questions{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 109px;
    width: 100%;
    .title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .text{
        width: 538px;
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.5px;
      }
      .main{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
        .red{
          display: flex;
          color: var(--Red, #D0142C);
        }
        .white{
          display: flex;

          color: var(--White, #F7F7F7);
        }
        span{
          font-family: 'Ermilov', sans-serif;
          font-size: 55px;
          font-style: normal;
          font-weight: 900;
          line-height: 120%;
          letter-spacing: -2.56px;
          text-transform: uppercase;
        }
      }
    }
    .wrapper{
      display: flex;
      width: 1102px;
      padding: 40px;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border-radius: 18px;
      border: 3px solid #555;
      background: rgba(123, 123, 123, 0.09);
      box-shadow: 4px 4px 15px 0px rgba(46, 45, 45, 0.35);
      position: relative;
      svg{
        position: absolute;
        left: -40px;
        top: -55px;
      }
      .headTxt{
        width: 585px;
        color: #FFF;
        text-align: center;
        font-family: 'Unbounded', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 42px */
        text-transform: uppercase;
      }
      .add{
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.5px;
      }
      .btn{
        color: #FFF;
        text-align: center;
        font-family: 'NAMU', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: lowercase;
        width: 661px;
        height: 100px;
        flex-shrink: 0;
        border-radius: 20px;
        background: var(--Red, #D0142C);
      }
    }
  }
}
@media (min-width: 836px)  and (max-width: 1249px){
  .questions{
    margin-top: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    .title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .text{
        width: 367px;
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.5px;
      }
      .main{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
        .red{
          display: flex;
          color: var(--Red, #D0142C);
        }
        .white{
          display: flex;

          color: var(--White, #F7F7F7);
        }
        span{
          font-family: 'Ermilov', sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 900;
          line-height: 120%;
          letter-spacing: -2.56px;
          text-transform: uppercase;
        }
      }
    }
    .wrapper{
      display: flex;
      width: 600px;
      height: 242px;
      padding: 40px;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border-radius: 18px;
      border: 3px solid #555;
      background: rgba(123, 123, 123, 0.09);
      box-shadow: 4px 4px 15px 0px rgba(46, 45, 45, 0.35);
      position: relative;
      svg{
        position: absolute;
        left: -25px;
        top: -25px;
        width: 54.395px;
        height: 54.395px;
      }
      .headTxt{
        width: 520px;
        color: #FFF;
        text-align: center;
        font-family: 'Unbounded', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 42px */
        text-transform: uppercase;
      }
      .add{
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.5px;
      }
      .btn{
        color: #FFF;
        border: none;
        text-align: center;
        font-family: 'NAMU', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: lowercase;
        width: 408px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 6px;
        background: var(--Red, #D0142C);
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 835px) {
  .questions{
    margin-top: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    .title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .text{
        width: 367px;
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.5px;
      }
      .main{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
        .red{
          display: flex;
          color: var(--Red, #D0142C);
        }
        .white{
          display: flex;

          color: var(--White, #F7F7F7);
        }
        span{
          font-family: 'Ermilov', sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 900;
          line-height: 120%;
          letter-spacing: -2.56px;
          text-transform: uppercase;
        }
      }
    }
    .wrapper{
      display: flex;
      width: 600px;
      height: 242px;
      padding: 40px;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border-radius: 18px;
      border: 3px solid #555;
      background: rgba(123, 123, 123, 0.09);
      box-shadow: 4px 4px 15px 0px rgba(46, 45, 45, 0.35);
      position: relative;
      svg{
        position: absolute;
        left: -25px;
        top: -25px;
        width: 54.395px;
        height: 54.395px;
      }
      .headTxt{
        width: 520px;
        color: #FFF;
        text-align: center;
        font-family: 'Unbounded', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 42px */
        text-transform: uppercase;
      }
      .add{
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.5px;
      }
      .btn{
        color: #FFF;
        border: none;
        text-align: center;
        font-family: 'NAMU', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: lowercase;
        width: 408px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 6px;
        background: var(--Red, #D0142C);
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .questions{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    .title{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      gap: 28px;

      .text{
        order: 2;
        width: 100%;
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.32px;
      }
      .main{
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        .red{
          display: flex;
          color: var(--Red, #D0142C);
        }
        .white{
          display: flex;

          color: var(--White, #F7F7F7);
        }
        span{
          font-family: 'Ermilov', sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: 120%;
          letter-spacing: -0.96px;
          text-transform: uppercase;
        }
      }
    }
    .wrapper{
      display: flex;
      width: 100%;
      height: 242px;
      padding: 40px;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border-radius: 18px;
      border: 3px solid #555;
      background: rgba(123, 123, 123, 0.09);
      position: relative;
      svg{
        position: absolute;
        left: -25px;
        top: -25px;
        width: 54.395px;
        height: 54.395px;
      }
      .headTxt{
        width: 312px;
        color: #FFF;
        text-align: center;
        font-family: 'Unbounded', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 42px */
        text-transform: uppercase;
      }
      .add{
        color: var(--gray, #929292);
        font-family: 'NAMU', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%; /* 37.5px */
        letter-spacing: -0.5px;
      }
      .btn{
        color: #FFF;
        border: none;
        text-align: center;
        font-family: 'NAMU', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: lowercase;
        width: 203px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 6px;
        background: var(--Red, #D0142C);
      }
    }
  }
}
