@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

@font-face {
  font-family: "NAMU";
  src: url("/fonts/NAMU.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.banner {
  max-width: 1920px;
  height: 878px;

  background-color: #151515;

  padding: 220px 128px 0px 128px;
  margin: 0 auto;

  .container {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(
      360deg,
      #d0142c 0%,
      rgba(208, 20, 44, 0) 187.99%
    );
    position: relative;
    display: flex;

    .info {
      width: 882.36px;
      height: 390.42px;
      gap: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-left: 72px;
      margin-top: 151px;
      position: relative;
      z-index: 2;

      .title {
        font-family: Ermilov;
        font-size: 100px;
        font-weight: 700;
        line-height: 120px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #f7f7f7;
        position: relative;
        .cash {
          width: 145px;
          height: 50px;
          border-radius: 100px;
          background-color: #d0142c;
          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;
          bottom: -10px;
          right: -80px;
          transform: rotate(-19deg);
          letter-spacing: 0px;

          font-family: "Unbounded", sans-serif;
          font-size: 30px;
          font-weight: 400;
          line-height: 30px;
          text-align: center;
          color: #f7f7f7;
        }
      }
      .text {
        font-family: NAMU;
        font-size: 25px;
        font-weight: 900;
        line-height: 37.5px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #929292;
      }

      .btn {
        width: 765px;
        height: 100px;
        border-radius: 20px;
        background-color: #f7f7f7;
        cursor: pointer;

        font-family: Unbounded;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
        color: #151515;
        border: none;
      }
    }

    .cube {
      position: absolute;
      bottom: 0px;
      right: 0px;
      border-radius: 0px 0px 40px 0px;
      z-index: 1;
    }
  }
}

@media (min-width: 1250px) and (max-width: 1541px) {
  .banner {
    max-width: 1440px;
    height: 726px;

    background-color: #151515;

    padding: 204px 60px 0px 60px;
    margin: 0 auto;

    .container {
      width: 100%;
      height: 100%;
      border-radius: 32px;
      background: linear-gradient(
        360deg,
        #d0142c 0%,
        rgba(208, 20, 44, 0) 187.99%
      );
      position: relative;
      display: flex;

      .info {
        width: 700.98px;
        height: 315px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 57px;
        margin-top: 120px;
        gap: 0;

        .title {
          font-family: Ermilov, sans-serif;
          font-size: 80px;
          font-weight: 700;
          line-height: 96px;
          letter-spacing: -0.04em;
          text-align: left;
          color: #f7f7f7;
          position: relative;
          margin-bottom: 0px;
          .cash {
            width: 116px;
            height: 40px;
            border-radius: 79.33px;
            background-color: #d0142c;
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            bottom: -1px;
            right: -75px;
            transform: rotate(-19deg);
            letter-spacing: 0px;

            font-family: "Unbounded", sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: #f7f7f7;
          }
        }
        .text {
          font-family: NAMU, sans-serif;
          font-size: 24px;
          font-weight: 900;
          line-height: 36px;
          letter-spacing: -0.02em;
          text-align: left;
          color: #929292;
          margin-bottom: 32px;
        }

        .btn {
          width: 630px;
          height: 70px;
          border-radius: 12px;
          background-color: #f7f7f7;
          cursor: pointer;
          font-family: Unbounded, sans-serif;
          font-size: 30px;
          font-weight: 600;
          line-height: 45px;
          text-align: center;
          color: #151515;
        }
      }

      .cube {
        width: 620px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-radius: 0px 0px 32px 0px;
      }
    }
  }
}

@media (min-width: 836px) and (max-width: 1249px) {
  .banner {
    max-width: 834px;
    height: 412px;
    background-color: #151515;
    padding: 114px 40px 0px 40px;
    margin: 0 auto;

    .container {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: linear-gradient(
        360deg,
        #d0142c 0%,
        rgba(208, 20, 44, 0) 187.99%
      );
      position: relative;
      display: flex;

      .info {
        width: 400.42px;
        height: 179.93px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 32.56px;
        margin-top: 68.54px;
        gap: 0;

        .title {
          font-family: Ermilov, sans-serif;
          font-size: 48px;
          font-weight: 700;
          line-height: 57.6px;
          letter-spacing: -0.04em;
          text-align: left;
          color: #f7f7f7;
          position: relative;
          margin-bottom: 0px;
          .cash {
            width: 65px;
            height: 22px;
            border-radius: 45.31px;
            background-color: #d0142c;
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            bottom: -4px;
            right: -25px;
            transform: rotate(-19deg);
            letter-spacing: 0px;

            font-family: "Unbounded", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: #f7f7f7;
          }
        }
        .text {
          font-family: NAMU;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: -0.02em;
          text-align: left;
          color: #929292;
          margin-bottom: 18px;
        }

        .btn {
          width: 359px;
          height: 40px;
          border-radius: 6px;
          background-color: #f7f7f7;
          cursor: pointer;
          font-family: Unbounded, sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: center;
          color: #151515;
          border: none;
        }
      }

      .cube {
        width: 349px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-radius: 0px 0px 12px 0px;
      }
    }
  }
}

// @media screen and (min-width: 768px) and (max-width: 835px){}

@media only screen and (min-width: 320px) and (max-width: 835px) {
  .banner {
    max-width: 375px;
    height: 677px;
    background-color: #151515;
    padding: 90px 20px 0px 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .container {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background: linear-gradient(
        360deg,
        #d0142c 0%,
        rgba(208, 20, 44, 0) 187.99%
      );
      position: relative;
      display: flex;
      overflow: hidden;

      .info {
        width: 291px;
        height: 253px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: auto;
        margin-right: auto;
        margin-top: 68.54px;
        gap: 0;

        .title {
          font-family: Ermilov;
          font-size: 36px;
          font-weight: 700;
          line-height: 26px;
          letter-spacing: -0.04em;
          text-align: left;
          color: #f7f7f7;
          position: relative;
          margin-bottom: 0px;
          .cash {
            width: 85px;
            height: 28px;
            border-radius: 45.31px;
            background-color: #d0142c;
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            bottom: -25px;
            right: -45px;
            transform: rotate(-19deg);
            letter-spacing: 0px;

            font-family: "Unbounded", sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;
            text-align: left;
            color: #f7f7f7;
          }
        }
        .text {
          font-family: NAMU;
          font-size: 16px;
          font-weight: 400;
          line-height: 20.8px;
          letter-spacing: -0.02em;
          text-align: left;
          color: #929292;
          margin-bottom: 36px;
          margin-top: 45px;
        }

        .btn {
          width: 291px;
          height: 50px;
          border-radius: 6px;
          background-color: #f7f7f7;
          cursor: pointer;
          font-family: Unbounded;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: center;
          color: #151515;
          border: none;
        }
      }

      .cube {
        width: 304px;
        position: absolute;
        bottom: -10px;
        right: -20px;
        border-radius: 0px 0px 12px 0px;
      }
    }
  }
}
