.slide {
  width: 822px !important;
  margin-right: 30px;
}

.photo-container img {
  display: block;
  width: 100%;
  height: auto;
}

.photo-container {
  position: relative;
}

.photo-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background 0.3s ease; /* Smooth transition */
}

.photo-container:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

.hoverTxt {
  display: none;
  z-index: 1000;
  transition: all 0.3s ease; /* Smooth transition */
}

.circle img {
  width: 80px;
  height: 80px;
  margin: 14px;
}

.hoverTxt p {
  color: #FFF;
  font-family: 'Unbounded', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.photo-container:hover .hoverTxt {
  display: flex;
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  right: 20px;
  align-items: center;
  gap: 14px;
}

.circle {
  width: 109px;
  height: 109px;
  border-radius: 50%;
  background-color: #D0142C;
  transition: background-color 0.3s ease; /* Smooth transition */
}
@media (min-width: 1250px)  and (max-width: 1541px) {
  .slide {
    width: 680px !important;
    margin-right: 30px;
  }
}
@media (min-width: 836px)  and (max-width: 1249px) {
  .slide {
    width: 430px !important;
    margin-right: 30px;
  }
  .hoverTxt p {
    color: #FFF;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 30px */
    text-transform: uppercase;
  }
  .circle img {
    width: 50px;
    height: 50px;
    margin: 14px;
  }
  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D0142C;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
}
@media screen and (min-width: 768px) and (max-width: 835px) {
  .slide {
    width: 350px !important;
    margin-right: 30px;
  }
  .hoverTxt p {
    color: #FFF;
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 30px */
    text-transform: uppercase;
  }
  .circle img {
    width: 35px;
    height: 35px;
    margin: 12px;
  }
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #D0142C;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .slide {
    margin-left: 5px;
    width: 330px !important;
    margin-right: 0px;
  }
  .photo-container:hover::after {
    background: transparent;
  }
  .photo-container:hover .hoverTxt {

    display: none;
    z-index: 1000;
    position: relative;
    bottom: 0px;
    right: 20px;
    align-items: center;
    gap: 14px;
  }
}