// components/PlusToCrossButton.module.scss
.button {
  background: none;
  border: 3px solid #555;
  border-radius: 10px;
  cursor: pointer;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  transition: transform 0.3s;

  &.cross {
    .line:nth-child(1) {
      transform: rotate(45deg);
    }
    .line:nth-child(2) {
      transform: rotate(-45deg);
    }
  }

  .line {
    background-color: var(--White, #F7F7F7);
    position: absolute;
    width: 24px;
    height: 3px;
    transition: transform 0.3s;

    &:nth-child(1) {
      transform: translateY(0px);
    }
    &:nth-child(2) {
      transform: rotate(90deg);
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 835px) {
  .button {
    background: none;
    border: 3px solid #555;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    transition: transform 0.3s;

    &.cross {
      .line:nth-child(1) {
        transform: rotate(45deg);
      }
      .line:nth-child(2) {
        transform: rotate(-45deg);
      }
    }

    .line {
      background-color: var(--White, #F7F7F7);
      position: absolute;
      width: 16px;
      height: 3px;
      transition: transform 0.3s;

      &:nth-child(1) {
        transform: translateY(0px);
      }
      &:nth-child(2) {
        transform: rotate(90deg);
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .button {
    background: none;
    border: 3px solid #555;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    transition: transform 0.3s;

    &.cross {
      .line:nth-child(1) {
        transform: rotate(45deg);
      }
      .line:nth-child(2) {
        transform: rotate(-45deg);
      }
    }

    .line {
      background-color: var(--White, #F7F7F7);
      position: absolute;
      width: 16px;
      height: 3px;
      transition: transform 0.3s;

      &:nth-child(1) {
        transform: translateY(0px);
      }
      &:nth-child(2) {
        transform: rotate(90deg);
      }
    }
  }
}