.main{
  background: var(--Black-background, #151515);
  z-index: 10;
  .container{
    z-index: 10;
    padding: 0 128px;
  }
}
@media (min-width: 1250px)  and (max-width: 1541px) {
  .main{
    background: var(--Black-background, #151515);
    .container{
      padding: 0 60px;
    }
  }
}
@media (min-width: 836px)  and (max-width: 1249px) {
  .main{
    background: var(--Black-background, #151515);
    .container{
      padding: 0 60px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 835px) {
  .main{
    background: var(--Black-background, #151515);
    .container{
      padding: 0 40px;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {

  .main{
    background: var(--Black-background, #151515);
    .container{
      padding: 0 20px;
    }
  }
}