/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/[locale]/[slug]/Case.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/[locale]/pages/case/case.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.case_photobox__od7_v {
  max-width: 1920px;
  height: 1045px;
  margin: 0 auto;
  padding: 40px 28px 0px 28px;
}
.case_photobox__od7_v .case_wrapper__o7Rl8 {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(21, 21, 21, 0.737254902);
  z-index: 2;
}
.case_photobox__od7_v .case_wrapper__o7Rl8 .case_image__QL8ke {
  position: relative;
  background-color: rgba(21, 21, 21, 0.737254902);
  z-index: -1;
  object-fit: cover;
  border-radius: 50px;
}
.case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr {
  width: auto;
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  bottom: 63.39px;
  left: 64px;
}
.case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr .case_name__BdQ1z {
  font-family: NAMU;
  font-size: 40px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #d0142c;
}
.case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr .case_type__2iGRq {
  font-family: Ermilov;
  font-size: 96px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.04em;
  text-align: left;
  text-transform: uppercase;
  color: #f7f7f7;
}

.case_infobox__yO6Hp {
  max-width: 1920px;
  height: 835px;
  margin: 0 auto;
  padding: 200px 128px 0px 128px;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 {
  width: auto;
  height: auto;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 .case_label__e6mi_ {
  font-family: Ermilov;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  letter-spacing: -0.04em;
  text-align: left;
  text-transform: uppercase;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 ul {
  margin-left: 30px;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 li,
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 .case_dead__S9e9E {
  font-family: NAMU;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #929292;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 {
  width: auto;
  height: auto;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 .case_label__e6mi_ {
  font-family: Ermilov;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  letter-spacing: -0.04em;
  text-align: left;
  text-transform: uppercase;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 ul {
  margin-left: 30px;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 li,
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 .case_text__lvGAu {
  font-family: NAMU;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #929292;
}
.case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 a {
  font-family: NAMU;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #929292;
  text-decoration: none;
}

.case_videobox__a_mXZ {
  max-width: 1920px;
  height: 1189px;
  margin: 0 auto;
  padding: 200px 128px 0px 128px;
}
.case_videobox__a_mXZ .case_wrapper__o7Rl8 {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: Ermilov;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #d0142c;
}

@media (min-width: 1250px) and (max-width: 1541px) {
  .case_photobox__od7_v {
    max-width: 1440px;
    height: 851px;
    margin: 0 auto;
    padding: 51px 60px 0px 60px;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(21, 21, 21, 0.737254902);
    z-index: 2;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_image__QL8ke {
    position: relative;
    object-fit: cover;
    background-color: rgba(21, 21, 21, 0.737254902);
    z-index: -1;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 20px;
    margin-bottom: 52px;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr .case_name__BdQ1z {
    font-family: "NAMU", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #d0142c;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr .case_type__2iGRq {
    font-family: "Ermilov", sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.04em;
    text-align: left;
    text-transform: uppercase;
    color: #f7f7f7;
  }
  .case_infobox__yO6Hp {
    max-width: 1440px;
    height: 833px;
    margin: 0 auto;
    padding: 218px 60px 0px 60px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 {
    width: auto;
    height: auto;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 .case_label__e6mi_ {
    font-family: Ermilov;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    letter-spacing: -0.04em;
    text-align: left;
    text-transform: uppercase;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 ul {
    margin-left: 30px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 li,
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 .case_dead__S9e9E {
    font-family: NAMU;
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #929292;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 {
    width: auto;
    height: auto;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 .case_label__e6mi_ {
    font-family: Ermilov;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    letter-spacing: -0.04em;
    text-align: left;
    text-transform: uppercase;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 ul {
    margin-left: 30px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 li,
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 .case_text__lvGAu {
    font-family: NAMU;
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #929292;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 a {
    font-family: NAMU;
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #929292;
    text-decoration: none;
  }
  .case_videobox__a_mXZ {
    max-width: 1920px;
    height: 1189px;
    margin: 0 auto;
    padding: 200px 128px 0px 128px;
  }
  .case_videobox__a_mXZ .case_wrapper__o7Rl8 {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: Ermilov;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #d0142c;
  }
}
@media (min-width: 836px) and (max-width: 1249px) {
  .case_photobox__od7_v {
    max-width: 834px;
    height: 491px;
    margin: 0 auto;
    padding: 28px 40px 0px 40px;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(21, 21, 21, 0.737254902);
    z-index: 2;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_image__QL8ke {
    position: relative;
    object-fit: cover;
    background-color: rgba(21, 21, 21, 0.737254902);
    z-index: -1;
    border-radius: 28px;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 20px;
    margin-bottom: 22px;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr .case_name__BdQ1z {
    font-family: "NAMU", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #d0142c;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr .case_type__2iGRq {
    font-family: "Ermilov", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.04em;
    text-align: left;
    text-transform: uppercase;
    color: #f7f7f7;
  }
  .case_infobox__yO6Hp {
    max-width: 834px;
    height: 454px;
    margin: 0 auto;
    padding: 104px 40px 0px 40px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 {
    width: auto;
    height: auto;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 .case_label__e6mi_ {
    font-family: "Ermilov", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.6px;
    letter-spacing: -0.04em;
    text-align: left;
    text-transform: uppercase;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 ul {
    margin-left: 30px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 li,
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 .case_dead__S9e9E {
    font-family: "NAMU", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #929292;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 {
    width: auto;
    height: auto;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 .case_label__e6mi_ {
    font-family: "Ermilov", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.6px;
    letter-spacing: -0.04em;
    text-align: left;
    text-transform: uppercase;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 ul {
    margin-left: 30px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 li,
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 .case_text__lvGAu {
    font-family: "NAMU", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #929292;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 a {
    font-family: "NAMU", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #929292;
    text-decoration: none;
  }
  .case_videobox__a_mXZ {
    max-width: 834px;
    height: 544px;
    margin: 0 auto;
    padding: 104px 40px 0px 40px;
  }
  .case_videobox__a_mXZ .case_wrapper__o7Rl8 {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Ermilov", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #d0142c;
  }
}
@media only screen and (min-width: 320px) and (max-width: 835px) {
  .case_photobox__od7_v {
    max-width: 375px;
    height: 221px;
    margin: 0 auto;
    padding: 16px 20px 0px 20px;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(21, 21, 21, 0.737254902);
    z-index: 2;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_image__QL8ke {
    position: relative;
    object-fit: cover;
    background-color: rgba(21, 21, 21, 0.737254902);
    z-index: -1;
    border-radius: 8px;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 20px;
    margin-bottom: 22px;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr .case_name__BdQ1z {
    font-family: "NAMU", sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #d0142c;
  }
  .case_photobox__od7_v .case_wrapper__o7Rl8 .case_namebox__xtMQr .case_type__2iGRq {
    font-family: "Ermilov", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: right;
    text-transform: uppercase;
    color: #f7f7f7;
  }
  .case_infobox__yO6Hp {
    max-width: 375px;
    height: auto;
    margin: 0 auto;
    padding: 52px 20px 0px 20px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 {
    width: auto;
    height: auto;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 .case_label__e6mi_ {
    font-family: "Ermilov", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: -0.04em;
    text-align: left;
    text-transform: uppercase;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 ul {
    margin-left: 10px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 li,
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_left__rCa44 .case_box__2HTV4 .case_dead__S9e9E {
    font-family: "NAMU", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #929292;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 {
    width: auto;
    height: auto;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 .case_label__e6mi_ {
    font-family: "Ermilov", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: -0.04em;
    text-align: left;
    text-transform: uppercase;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 ul {
    margin-left: 10px;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 li,
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 .case_box__2HTV4 .case_text__lvGAu {
    font-family: "NAMU", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #929292;
  }
  .case_infobox__yO6Hp .case_wrapper__o7Rl8 .case_right__DyVU0 a {
    font-family: "NAMU", sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #929292;
    text-decoration: none;
  }
  .case_videobox__a_mXZ {
    max-width: 375px;
    height: 413px;
    margin: 0 auto;
    padding: 52px 20px 0px 20px;
  }
  .case_videobox__a_mXZ .case_wrapper__o7Rl8 {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Ermilov", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #d0142c;
  }
}
