@font-face {
  font-family: 'NAMU';
  src: url('/fonts/NAMU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.form {
  max-width: 1920px;
  height: 1146px;

  background-color: #151515;
  padding: 220px 128px 242px 128px;
  margin: 0 auto;

  .container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .box {
      width: 100%;
      height: 127px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .title {
        font-family: Ermilov;
        font-size: 64px;
        font-weight: 700;
        line-height: 76.8px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #f7f7f7;

        span {
          color: #d0142c;
        }
      }

      .sub {
        font-family: NAMU;
        font-size: 42px;
        font-weight: 900;
        line-height: 63px;
        text-align: left;
        color: #f7f7f7;
      }
    }

    .form__box {
      width: 1142px;
      height: 463px;
      margin-top: 94px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .head {
        width: 100%;
        height: 141px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .left {
          width: 561px;
          height: 141px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          label {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #f7f7f7;
          }

          input {
            width: 561px;
            height: 104px;
            border-radius: 13px;
            border: 2px solid #f7f7f7;
            background-color: #151515;
            font-family: NAMU;
            font-size: 24px;
            font-weight: 900;
            line-height: 36px;
            text-align: left;
            color: #f7f7f7;
            padding-left: 32px;
          }
        }
        .right {
          width: 561px;
          height: 141px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          label {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #f7f7f7;
          }

          input {
            width: 561px;
            height: 104px;
            border-radius: 13px;
            border: 2px solid #f7f7f7;
            background-color: #151515;
            font-family: NAMU;
            font-size: 24px;
            font-weight: 900;
            line-height: 36px;
            text-align: left;
            color: #f7f7f7;
            padding-left: 32px;
          }
        }
      }

      .bottom {
        width: 100%;
        height: 141px;
        margin-top: 24px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        label {
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          text-align: left;
          color: #f7f7f7;
        }

        input {
          width: 100%;
          height: 104px;
          border-radius: 13px;
          border: 2px solid #f7f7f7;
          background-color: #151515;
          font-family: NAMU;
          font-size: 24px;
          font-weight: 900;
          line-height: 36px;
          text-align: left;
          color: #f7f7f7;
          padding-left: 32px;
        }
      }

      .btn {
        margin-top: 57px;
        width: 765px;
        height: 100px;
        border-radius: 20px;
        background-color: #d0142c;
        color: #f7f7f7;
        font-family: Unbounded;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1541px) {
  .form {
    max-width: 1440px;
    height: 986px;
    background-color: #151515;
    padding: 204px 149px 204px 149px;
    margin: 0 auto;

    .container {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .box {
        width: 100%;
        height: 101px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .title {
          font-family: Ermilov, sans-serif;
          font-size: 48px;
          font-weight: 700;
          line-height: 57.6px;
          letter-spacing: -0.04em;
          color: #f7f7f7;

          span {
            color: #d0142c;
          }
        }

        .sub {
          font-family: NAMU, sans-serif;
          font-size: 36px;
          font-weight: 900;
          line-height: 54px;
          text-align: left;
          color: #f7f7f7;
        }
      }

      .form__box {
        width: 1142px;
        height: 413px;
        margin-top: 64px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .head {
          width: 100%;
          height: 131px;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .left {
            width: 561px;
            height: 131px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            label {
              font-family: Montserrat;
              font-size: 20px;
              font-weight: 400;
              line-height: 30px;
              text-align: left;
              color: #f7f7f7;
            }

            input {
              width: 561px;
              height: 93px;
              border-radius: 13px;
              border: 2px solid #f7f7f7;
              background-color: #151515;
              font-family: NAMU, sans-serif;
              font-size: 24px;
              font-weight: 900;
              line-height: 36px;
              text-align: left;
              color: #f7f7f7;
              padding-left: 32px;
            }
          }
          .right {
            width: 561px;
            height: 131px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            label {
              font-family: Montserrat, sans-serif;
              font-size: 20px;
              font-weight: 400;
              line-height: 30px;
              text-align: left;
              color: #f7f7f7;
            }

            input {
              width: 561px;
              height: 93px;
              border-radius: 13px;
              border: 2px solid #f7f7f7;
              background-color: #151515;
              font-family: NAMU, sans-serif;
              font-size: 24px;
              font-weight: 900;
              line-height: 36px;
              text-align: left;
              color: #f7f7f7;
              padding-left: 32px;
            }
          }
        }

        .bottom {
          width: 100%;
          height: 131px;
          margin-top: 18px;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          label {
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #f7f7f7;
          }

          input {
            width: 100%;
            height: 193px;
            border-radius: 13px;
            border: 2px solid #f7f7f7;
            background-color: #151515;
            font-family: NAMU;
            font-size: 24px;
            font-weight: 900;
            line-height: 36px;
            text-align: left;
            color: #f7f7f7;
            padding-left: 32px;
          }
        }

        .btn {
          margin-top: 64px;
          width: 630px;
          height: 70px;
          border-radius: 12px;
          background-color: #d0142c;
          color: #f7f7f7;
          font-family: Unbounded;
          font-size: 30px;
          font-weight: 600;
          line-height: 45px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}
