@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&family=Unbounded:wght@200..900&display=swap');

.cookie{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 12px;
  background: var(--Black-background, #151515);
  text-align: center;
  line-height: 100px;
  z-index: 9999;
  display: flex;
  padding: 20px 60px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  gap: 12px;
  .image{
    width: 49px;
    height: 49px;
    flex-shrink: 0;
  }
  .txt{
    color: var(--White, #F7F7F7);
    font-family: "SUSE", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 102%; /* 22.44px */
  }
  .buttons{
    display: flex;
    align-items: center;
    gap: 14px;
    .help {
      display: inline-flex;
      height: 55px;
      padding: 20px 52px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;
      border-radius: 12px;
      background: var(--Red, #D0142C);
      color: var(--White, #F7F7F7);
      font-family: "SUSE", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: lowercase;
      border: none;
    }
    .read{
      display: flex;
      width: 300px;
      height: 55px;
      padding: 20px 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;
      border-radius: 12px;
      background: transparent;
      border: 1px solid var(--Red, #D0142C);
      color: var(--White, #F7F7F7);
      font-family: "SUSE", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: lowercase;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .cookie{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 12px;
    background: var(--Neutral-Neutral-100, #F3F4F6);
    text-align: center;
    line-height: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    padding: 22px 0;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-top: 1px solid rgba(171, 171, 171, 0.25);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
    .imageWTxt{
      margin-left: 32px;
      display: flex;
      align-items: center;
      gap: 18px;
      svg{
        width: 45px;
        height: 45px;
      }
      span{
        width: 229px;
        text-align: left;
        color: var(--Chief-Black, #1D1D1D);
        font-family: Rubik, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 22.608px; /* 113.038% */
      }
    }
    button{
      margin-right: 0px;
      display: flex;
      height: 50px;
      padding: 20px 51px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      background: var(--main-green, #649612);
      color: var(--Main-white, #F5F5F5);
      font-family: Commissioner, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      &:hover {
        background: #45660e;
        transition: all 0.4s ease 0s;
      }
      &:active {
        background: #263a06;
        transition: all 0.4s ease 0s;
      }
    }
  }
}